body{
    font-family: Arial;;
}

table{
    
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid;
    padding: 5px;
}

.footer{
    font-size: 12px;
}